.navbar-collapse {
    flex-grow: initial;
}

h2.text-light {
    font-size: 1.2em;
    font-weight: bold;
}

.list-inline-item a {
    font-weight: bold;
    color: rgb(33, 33, 190);
}

#list .img-thumbnail {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
}


/* Header*/

.container-fluid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    width: 150px;
}

.header-container img {
    max-width: 100%;
}

.header-container a {
    color: #0a0a0a;
}

.header-container img {
    max-width: 100%;
}

.header-container svg {
    margin-left: 10px;
}

#formulaire h2 {
    color: red;
}